.root-contianer {
    height: 100vw;
    width: 100vw;
    overflow: scroll;
}

.header {
    display: flex;
    height: 30px;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: fit-content;
    /* margin: -12px 0 0 -10px; */
    font-family: root-font;
}

.header-cell {
    min-width: 100px;
    text-align: center;    
    border: 1px solid #C4C7C5;
    padding: 5px 0;
    color: #444746;
    background-color: white;
}

.body {
    height: 88%;
    display: flex;
}

.sno {
    height: 100%;
    min-width: 101.5px;
    text-align: center;
    position: sticky;
    left: 0;
    /* margin: 3px 0 0 -13px; */
}

.sno-cell {
    border: 1px solid #C4C7C5;
    border-collapse: separate;
    /* border-top: none; */
    background-color: #fff;
    height: 30px;
    text-align: center;
}

.main {
    height: 180px;
    width: 70%;
}
.row {
    display: flex;
}

.main-cell {
   min-width: 100px;
   border: 1px solid #C4C7C5; 
   height: 30px;
   /* border-left: none; */
}

.header > div:nth-child(1) {
    left: 0;
    /* position: fixed; */
    left: 0;
    position: sticky;
    z-index: 100;
}

.options {
    display: flex;
    gap: 20px;
    justify-content: center;
    /* border: 2px solid grey; */
    padding: 20px 10px;
    width: 50vw;  
    height: 30px;
    margin: auto;
    align-items: center;
}

.align {
    display: flex;
}

.options input, .options select {
    flex-grow: 1;
}

.options .material-symbols-outlined {
    font-size: 20px;
}

.lower-section {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

.lower-section input {
    flex-grow: 1;
    padding: 8px;
}

#active-cell {
    background-color: #ededed;
    padding: 4px 10px;
}

.options>.btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.options>.btn:hover {
    background-color: #ededed;
}
@font-face {
    font-family: poppins-boldItalic;
    src: url(./Fonts/Poppins-BoldItalic.ttf);
}
@font-face {
    font-family: poppins-extraBold;
    src: url(./Fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppins-medium;
    src: url(./Fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppins-thinItalic;
    src: url(./Fonts/Poppins-ThinItalic.ttf);
}

.hiden-input {
    width: 0 !important;
    height: 0;
    border: transparent;
    background-color: transparent;
    
}

.hiden-input:checked + label {
    background-color: #C4C7C5;
}

.export, .import {
    background-color: transparent;
    border: none;
}
